

#container {
    width:99%;
    background: skyblue;
    padding: 4px;
    border: 2px solid #000000;
    margin-bottom: 25px;
    text-align: left;
}

#container > #links{
    text-align: right;
    text-decoration: none;

}
.one {
       margin-left: 30px ;
       border: 1px solid black;
       width: 230px;
       float: left;
       height: 220px;
       margin-top: 30px;
       text-align: center;
       margin-bottom: 20px;
       padding: 4px;
       margin-right: 30px;
       background-color:yellowgreen; 
}
body {
    text-align: left;
    padding: 2px;

}
ul {
    border-width: 2px;
}
aside{
    float: left;
    border: 2px solid black;

}

#project{
    text-align: center;
}
h2 {
    background-color: aliceblue;
}
#third{
    border: 1px solid black;
    width: auto;
    margin-top: 700px;
    text-align: center;
    background-color: blueviolet;
    
}

